@font-face {
  font-family: Oxygen;
  src: url(Oxygen.otf);
}

header  {
  /*width: 150px;
  height: 60px;
  padding-bottom: 0px;
  display: inline-block;*/
  width: 100%;
  display: inline-block;
}

header img {
  text-align: center;
  width: 100%;
  height: auto;
}

#logo {
  width: 150px;
  height: 60px;
  float: left;
}

#log {
  margin-left: auto;
  margin-right: 0px;
}

.button a {
  text-decoration: none;
  color: white
}

.button a:hover {
  color: #555555;
}

.button {
  float: right;
  text-align: center;
}

.button {
    border: none;
    color: white;
    padding: 8px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #555555;
    color: white;
    border: 1px solid #555555;
    border-radius: 3px;
}

.button:hover {
  background-color: white;
  color: #555555;
}

h3 {
  font-family: Oxygen;
}

nav {
  font-size: 1.2em;
  margin: auto;
  width: 50%;
  font-family: Oxygen;
}

nav li {
  display: inline;

  list-style: none;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

nav a {
  text-decoration: none;
  color: black;
}

footer {
  border-top: 1px solid black;
  font-size: 1.4em;
}

#main {
  float: left;
  padding-left: 7%;
  width: 40%;
}

footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 1em;
  margin-top: 0em;
}

#copyright {
  float: left;
  padding-left: 5%;
}

#eco {
  float: right;
  padding-right: 5%;
}
